<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
     
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>HYBRID</strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
				
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 个人中心</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="menu active-menu" href="/personal/" tag="personal"><i class="fa fa-dashboard"></i> 个人中心</a>
                    </li>
                    <li>
                        <a class="menu" href="/IPProxy/" tag="proxy"><i class="fa fa-desktop"></i> IP代理池</a>
                    </li>
					<li>
                        <a class="menu" href="/Cookies/" tag="cookies"><i class="fa fa-bar-chart-o"></i> Cookie池</a>
                    </li>
                    <li>
                        <a class="menu" href="http://www.sohu.com" tag="proxy_doc"><i class="fa fa-qrcode"></i> IP代理池接口文档</a>
                    </li>
                    
                    <li>
                        <a class="menu" href="table.html" tag="cookie_doc"><i class="fa fa-table"></i> Cookie池接口文档</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
            	<div class="row">
            		<div class="col-md-12">
            			<iframe id="iframe_row" onload="" height="800px" width="100%" src="/personal/" frameborder="0" scrolling="no"></iframe>
            		</div>
            	</div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    
    <!-- jQuery Js -->
    <script src="/static/js/jquery_3.3.1_jquery.min.js"></script>
    <script>
//        function initFrame(){
//		    var iframe=$('#iframe_row');
//		    var height = $(window).height();
//		    iframe.height(height+50);
//		}
    </script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>
 	

</body>

</html>