<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>IP代理</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/bootstrap/css/bootstrap-table.css" rel="stylesheet" />
    <link href="/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/static/css/ip_proxy_style.css" rel="stylesheet" />
    <script src="/static/js/jquery_3.3.1_jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap/js/bootstrap-table.js"></script>
    <script src="/static/bootstrap/js/bootstrap-table-zh-CN.js"></script>
</head>
<body>
    <div id="table_content">
        <table class="bootstrap-table" id="table" data-pagination></table>
    </div>
</body>
<script src="/static/js/page_js/ip_proxy_page.js"></script>
</html>