<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Registration Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/form-elements.css">
        <link rel="stylesheet" href="/static/css/register_style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/static/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Bootstrap Registration Form Template</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->

			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Crawl Manager</strong> 爬虫管理平台</h1>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>注册</h3>
                            		<p>爬虫管理系统注册页面</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-user-name">User name</label>
			                        	<input type="text" name="form-user-name" placeholder="用户名" class="form-user-name form-control" id="form-user-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Last name</label>
			                        	<input type="password" name="form-password" placeholder="密码" class="form-password form-control" id="form-password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-re-password">Re Password</label>
			                        	<input type="password" name="form-re-password" placeholder="再次输入密码" class="form-re-password form-control" id="form-re-password">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="form-invitation-code">Invitation code</label>
			                        	<input type="text" name="form-invitation-code" placeholder="邀请码" class="form-invitation-code form-control" id="form-invitation-code">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="form-verify-code">Email</label>
			                        	<input type="text" name="form-verify-code" placeholder="验证码" class="form-verify-code form-control" id="form-verify-code">
			                        </div>
                                    <div class="form-group">
			                        	 <img id="vcode_img" src="/VerifyCode/0.2/">
			                        </div>
                                    <p id="error_info"></p>
			                        <button type="submit" class="btn">注册</button>
                                    <button id="login_btn" type="button" class="btn">登录</button>
			                    </form>
		                    </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="/static/js/jquery_3.3.1_jquery.min.js"></script>
        <script src="/static/js/jquery.form.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.backstretch.min.js"></script>
        <script src="/static/js/retina-1.1.0.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/page_js/register_page.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>